
/* @font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_tnyc012u2rlwstt9.eot?t=1499243955345'); IE9
  src: url('//at.alicdn.com/t/font_tnyc012u2rlwstt9.eot?t=1499243955345#iefix') format('embedded-opentype'), IE6-IE8
  url('//at.alicdn.com/t/font_tnyc012u2rlwstt9.woff?t=1499243955345') format('woff'), chrome, firefox
  url('//at.alicdn.com/t/font_tnyc012u2rlwstt9.ttf?t=1499243955345') format('truetype'), chrome, firefox, opera, Safari, Android, iOS 4.2+
  url('//at.alicdn.com/t/font_tnyc012u2rlwstt9.svg?t=1499243955345#iconfont') format('svg'); iOS 4.1-
} */


@font-face {
  font-family: 'iconfont';  /* project id 1000267 */
  src: url('//at.alicdn.com/t/font_1000267_z62epngkzrc.eot');
  src: url('//at.alicdn.com/t/font_1000267_z62epngkzrc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1000267_z62epngkzrc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1000267_z62epngkzrc.woff') format('woff'),
  url('//at.alicdn.com/t/font_1000267_z62epngkzrc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1000267_z62epngkzrc.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bijibendiannao:before {
  content: "\eabb";
}

.icon-jiesuo_o:before {
  content: "\eb4b";
}

.icon-quxiaolianjie_o:before {
  content: "\eb67";
}

.icon-anniu_guanbi_o:before {
  content: "\eb75";
}

.icon-jiazai_shuaxin_o:before {
  content: "\eb7b";
}

.icon-quanjushezhi_o:before {
  content: "\eb80";
}

.icon-tuwen_o:before {
  content: "\eb86";
}

.icon-shitujuzhen_o:before {
  content: "\eb85";
}

.icon-shuliangjianshao_o:before {
  content: "\eb87";
}

.icon-yingyongAPP_o:before {
  content: "\eb88";
}

.icon-jiantou_liebiaoxiangyou_o:before {
  content: "\eb8a";
}

.icon-qunzu_o:before {
  content: "\ebad";
}

.icon-shuzhuangtu_o:before {
  content: "\ebb3";
}

.icon-guizi_o:before {
  content: "\ebbe";
}

.icon-jianzhu_o:before {
  content: "\ebc2";
}

.icon-tongzhizhongxin_o:before {
  content: "\ebcb";
}

.icon-dengchu_o:before {
  content: "\ebcc";
}


