@charset "UTF-8";
.am-g-fixed {
	max-width: 1100px;
} 

[class*=am-u-]{
	padding-left: 0;
	padding-right: 0;
}

.am-u-lg-9,.am-u-lg-6{
	padding: 0;
}

.am-slider-default, .am-slider-default img{
	max-height: 271px;
	margin:0;
}

.am-slider-default .am-control-nav {
	bottom: 10px;
	text-align: right;
} 

.am-titlebar-default{
	margin-left: 0;
	margin-right: 0;
}

.am-titlebar-default .am-titlebar-title{
	color:#555;
}


.am-titlebar-default a{
	color:gray;
}

.am-titlebar-default .am-titlebar-title:before {
    border-left: 3px solid #588bc1;
 }

a {
	color:black;
}

label {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   display: block;
   font-size: 14px;
}

.header > div {
	background: #588bc1;
	height: 70px;
}

.header .header-info{
	margin: 0 auto;
	height: 100%;
}

.header .header-info .header-info-left label{
	color: #fff67f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.header .header-info .header-info-right label{
	color: white;
    text-decoration: none;
    font-size: 15px;
}

.header .header-info .header-info-left, .header .header-info .header-info-right{
	height: 50%;
}

.header .header-info .header-info-right{
	text-align: right;
}

.news {
}

.login-container{
	margin-top: 5px;
}

.login {
	padding:15px;
	border: 1px #ccc solid;
	min-height: 271px;
}

.login .login-form{
	line-height: 34px;
}

.login .login-form i{
	color:#e6e6e6;
}

.login .login-form label {
    font-family: "Microsoft YaHei";
    color: #588bc1;
    padding-bottom: 5px;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    font-weight: normal;
}

.login .login-form input{
	font-size: small;
	height: 40px;
}

.login .login-form button {
	display: block;
    border: #588bc1 1px solid;
    background: #588bc1;
    color: #fff;
    font-size: 18px;
    letter-spacing: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.notice,.platform-notice,.knowleage {
	min-height:270px;
	max-height: 270px;
	overflow: hidden;
	padding:2px; 
}

/* .platform-notice .am-titlebar-default .am-titlebar-title:before {
    border-left: 0;
 } */
 
 .am-thumbnail{
    margin-bottom: 0;
 }
 
 .am-g .am-g{
 	margin-left: 0;
 }
 
 .res .am-thumbnails { 
    text-align: center;
 }
 
  .res .am-thumbnails li{ 
    text-align: center;
 }
 
 .res .am-thumbnails li img{ 
     width: 100%;
     height: 180px; 
 }
 
 @media only screen and (max-width: 640px){
   .res .am-thumbnails li img{
    height: 120px; 
   }
 }

 
 .res .am-thumbnails li label{ 
    font-weight: normal;
 }
 
 .footer {
    background: #588bc1;
    text-align: center;
 }
 
.footer .footer-info{
	padding: 10px;
}

.footer .footer-info h5{
    font-size: 90%;
    margin: 5px;
    color:white;
}

.footer .footer-info p{
	font-size: 90%;
	margin-top: 5px;
}

.am-breadcrumb{
	 margin-bottom: 0;
}

.am-breadcrumb li {
	font-size: 16px;
}

.page {
	margin: 0 auto;
}

.am-pagination{
	text-align: center;
}

.am-pagination>li>a, .am-pagination>li>span{
	margin-bottom: 0;
	margin-right: 1px;
	font-size: 80%;
}

.am-article>:last-child{
	margin-top:10px;
}
